.App {
    text-align: center;
    font-size: 35px;
    color: white;
    padding: 30%;

}

.App-title{
    font-size: 50px; 
}

.App-days, .App-hours, .App-minutes, .App-seconds {
    display: inline;    
    margin: 10px;
}

